:root {
  font: 18px Cambria, Times, sans-serif;
}

body {
  max-width: 33em;
  margin: 0.5em auto;
  padding: 0 0.5em;
}

ol {
  list-style-type: upper-roman;
}

.hgroup {
  text-align: center;
}

.small {
  font-size: smaller;
}

.colophon {
  float: right;
}
